---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_18xLdpH0vRofmZT4
    body:
      encoding: UTF-8
      string: legal_entity[dob][day]=22&legal_entity[dob][month]=1&legal_entity[dob][year]=1971&legal_entity[first_name]=Noel
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_18xLdpH0vRofmZT4
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_18xLdpH0vRofmZT4",
          "object": "account",
          "business_logo": null,
          "business_name": null,
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_18xLdpH0vRofmZT4/external_accounts"
          },
          "legal_entity": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "business_name": null,
            "business_tax_id_provided": false,
            "dob": {
              "day": 22,
              "month": 1,
              "year": 1971
            },
            "first_name": "Noel",
            "last_name": null,
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": false,
            "ssn_last_4_provided": false,
            "type": null,
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "status": "unverified"
            }
          },
          "managed": true,
          "metadata": {},
          "product_description": null,
          "statement_descriptor": null,
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "transfer_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "transfers_enabled": false,
          "verification": {
            "disabled_reason": "fields_needed",
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.last_name",
              "legal_entity.type",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ]
          }
        }
  recorded_at: Sat, 24 Sep 2016 19:16:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=standard
    headers:
      Authorization:
      - Bearer sk_test_k9mSwyy9S0rbH84jvW2weJZT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Standard accounts must have an email address.",
            "param": "email"
          }
        }
  recorded_at: Wed, 13 Dec 2017 18:23:32 GMT
recorded_with: VCR 4.0.0
